body {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

button {
  border: solid 1px #eee;
  background-color: gray;
  padding: 0;
}

button:active {
  transform: scale(0.96);
}

.calculator-container {
  background-color: wheat;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}

.calc-input {
  width: 100%;
  text-align: right;
  line-height: 40px;
  height: 40px;
}

.result {
  margin-right: 20px;
  font-size: 20px;
}

.buttons {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.bg-1 {
  width: 25%;
  height: 40px;
  border: solid 1px #eee;
}

.active {
  background-color: rgb(228, 126, 36);
}

.zero {
  width: 50%;
  height: 40px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
}

.navbar h1 {
  color: #00ff;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  border-left: 2px solid grey;
}

.navbar a:hover {
  color: #f1356d;
  border-left: 4px solid #f1356d;
}

.homepage {
  margin: 2rem;
}

.homepage h2 {
  margin-bottom: 10px;
}

.homepage p {
  margin: 2rem;
}

.quote {
  text-align: center;
  width: 50%;
  margin: 10rem;
}

.maths {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 500px;
}
